# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/static/
/media/

# VSCode
.vscode/

# Environments
venv/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
**/migrations/__pycache__/

# Bruno/Postman collections
*.bruno.json
*.postman.json
