# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.pot
*.db
*.sqlite3
/static/
/media/

# VSCode
.vscode/*
!.vscode/extensions.json

# Environments
venv/
.env
.env.*
!.env.local
!.env.example
# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
**/migrations/__pycache__/

# Bruno/Postman collections
*.bruno.json
*.postman.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
